# Reference: device/google/cuttlefish/shared/config/init.recovery.rc

service console /system/bin/sh
    class core
    console
    disabled
    override
    user root
    group root shell log readproc
    seclabel u:r:su:s0
    setenv HOSTNAME console

# This is not present on recovery init.rc
on init && property:ro.debuggable=1
    start console
